*assimp-vc142-mtd.dll filter=lfs diff=lfs merge=lfs -text
*assimp-vc142-mt.dll filter=lfs diff=lfs merge=lfs -text

Models/Dragon/* filter=lfs diff=lfs merge=lfs -text
Models/Tachikoma/* filter=lfs diff=lfs merge=lfs -text
Models/Sponza/* filter=lfs diff=lfs merge=lfs -text

Textures/pbr/*/* filter=lfs diff=lfs merge=lfs -text
Textures/*.hdr filter=lfs diff=lfs merge=lfs -text