*assimp-vc143-mtd.dll binary
*assimp-vc143-mt.dll binary
*assimp-vc143-mtd.lib binary
*assimp-vc143-mt.lib filter=lfs diff=lfs merge=lfs -text

*TracyClient.lib filter=lfs diff=lfs merge=lfs -text
*volk.lib filter=lfs diff=lfs merge=lfs -text
*ImGui.lib filter=lfs diff=lfs merge=lfs -text
*glfw3.lib filter=lfs diff=lfs merge=lfs -text

Assets/Models/*/*.bin filter=lfs diff=lfs merge=lfs -text
Assets/Models/*/*.gltf filter=lfs diff=lfs merge=lfs -text
Assets/Models/*/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/Models/*/*.obj filter=lfs diff=lfs merge=lfs -text
Assets/Models/*/Textures/* filter=lfs diff=lfs merge=lfs -text

Assets/Textures/pbr/*/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Textures/*.hdr filter=lfs diff=lfs merge=lfs -text