[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
