*assimp-vc143-mtd.dll binary
*assimp-vc143-mt.dll binary
*assimp-vc143-mtd.lib binary
*assimp-vc143-mt.lib binary

*TracyClient.lib binary
*volk.lib binary
*ImGui.lib binary
*glfw3.lib binary

Models/*/*.bin binary
Models/*/*.gltf binary
Models/*/*.jpg binary
Models/*/*.obj binary
Models/*/Textures/* binary
Models/*/textures/* binary

Textures/pbr/*/* binary
Textures/*.hdr binary