[submodule "External/Source/STB"]
	path = External/Source/STB
	url = https://github.com/nothings/stb
[submodule "External/Source/assimp"]
	path = External/Source/assimp
	url = https://github.com/assimp/assimp
