[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/volk"]
	path = External/volk
	url = https://github.com/zeux/volk.git
[submodule "External/ImGui"]
	path = External/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "External/tracy"]
	path = External/tracy
	url = https://github.com/wolfpld/tracy.git
